*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00071c;
}

ul{
    position: relative;
    display: flex;
}

ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 20px;
}

ul li:before{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0px;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

ul li:after{
    content: '';
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}

ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px !important;
    transition: 1.5s ease-out;
    border: 1px solid rgba(225, 225, 225, 0.2);
}

ul li:hover span{
    z-index: 1000;
    transition: 0.3s;
    color: aliceblue;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1){
    transform: translate(0px, -0px);
    opacity: 0.2;
}

ul li:nth-child(1):hover span{
    background-color: rgb(27, 97, 226)!important;
}

ul li:nth-child(3):hover span{
    background-color:rgb(241, 110, 220) !important;
}

ul li:nth-child(5):hover span{
    background-color: rgb(16, 198, 243) !important;
}

ul li:nth-child(7):hover span{
    background-color: rgb(29, 2, 150)!important;
}